* {
    margin:0;
    padding:0;
    font-family: 'OpenSans', sans-serif;
}

p, ul {
	font-size: 16px;
	line-height:22px;
	font-weight:300;
	letter-spacing:.5px;
	padding-left:15px;
	padding-right:15px;
	color:#333;
}

h1 {
	font-family: 'OpenSans', sans-serif;
	font-weight: bold;
	padding-left:35px;
	padding-right:35px;
	padding-bottom: 185px;
	font-size:30px;
	line-height:36px;
	text-align:center;
	color:#ffffff;	
}

h2 {
	font-family: 'OpenSans', sans-serif;
	padding-right: 20px;
}
	
 .BGspan{
 	background-image: url('../img/BG.jpg'); 
 	width: auto;
 	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.maxwidth{
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;	
}

.logo	{
	text-align: center;
	width: auto;
	height: auto;
}
.logo img {
	width: 202px;
	height: auto;
	padding-top: 150px;
	padding-bottom: 5px;
}

.logo h1 {
	color: #FFFFFF;
	text-align: center;
}

.welcome {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.welcome strong {
	font-size: 30px;
}

.footer {
	background-color: #F2F2F2;
}

.footerStyle {
	font-size: 10px;
	color: #B6B6B6;
	text-align: center;
	padding-top: 9px;
}

.country {
  padding: 5rem 3rem;
  background-position: center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Istanbul {
	background-image: url('../img/Istanbul.jpg');
	height: 100vh;
}

.Inset {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.insetText {
	font-size: 14px;
	color: black;
	font-weight: 500;
}

.Athens {
	background-image: url('../img/Athens.jpg'); 
	height: 100vh;
}

.Tel_Aviv {
	background-image: url('../img/Tel_Aviv.jpg');
	height: 100vh;
}

.pageAnchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.aboutContent	{
	height: 100vh;
}

.aboutContent p {
	text-align: center;
	font-size: 32px;
	line-height: 150%;
	padding: 250px;
}

.slick-arrow {
  position: absolute;
	top: 50%;
	z-index: 1;
}

.slick-prev {
  	left: 0;
}

.slick-next {
	right: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*****MEDIA QUERIES*****/
@media (min-width: 320px) and (max-width: 579px) {
.aboutContent p {
	padding: 10vh;
	text-align: center;
}

.country {
	justify-content: flex-end;
}

.inset {
    max-width: 35%;
  }

}
@media (min-width: 580px) and (max-width: 768px) {
.aboutContent p {
	padding: 10vh;
	text-align: center;
}

.country {
	justify-content: flex-end;
}

.inset {
    max-width: 35%;
  }

	
}

@media (min-width: 825px) and (max-width: 1000px) {
.aboutContent p {
	padding: 10vh;
	text-align: center;
}

.country {
	justify-content: flex-end;
}

.inset {
    max-width: 35%;
  }
	
	
}

@media (min-width: 1000px) and (max-width: 1260px) {
.aboutContent p {
	padding: 10vh;
	text-align: center;
}

.country {
	justify-content: flex-end;
}

.inset {
    max-width: 35%;
  }
	
	
	
}

@media (min-width: 1920px) {
	
}